* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --background: #7159A5;

    --purple: #453666;
    --purple-hover: #3b2f5c;
}

.hidden {
    display: none !important;
}

body {
    background: var(--background);
    color: var(--white);
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
}

/* Menu */

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-container img {
    width: 500px;
    margin-bottom: 30px;
}

.menu-container button {
    margin: 5px;
    padding: 15px;

    border: none;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.3s;
    border-radius: 5px;

    background-color: var(--purple);
    color: var(--white);
}

.menu-container button:hover {
    background-color: var(--purple-hover);
}

/* Game Versus Computer */

.scores {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.status-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
    padding: 15px;
    border-radius: 8px;

    width: 47%;

    background-color: var(--purple-hover);
}

/* Cards */

.cards-set {
    display: flex;
    justify-content: center;
    transform: translateX(-25px);
}

.cards-set .card {
    width: 5vw;
    position: relative;
    left: 0;

    scale: 0.9;
    transition: 0.3s;

    position: relative;
}

.player-orb {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 100px;
    height: 100px;
    background-color: rgba(80, 83, 247, 0.856);
    border-radius: 50%;

    box-shadow: 0 0 40px 0 rgba(6, 215, 230, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 2rem;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.computer-orb {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 100px;
    height: 100px;
    background-color: rgba(80, 83, 247, 0.856);
    border-radius: 50%;

    box-shadow: 0 0 40px 0 rgba(6, 215, 230, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 2rem;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Computer */

.cards-computer {
    margin-top: 10px;
}

.cards-computer .card img {
    width: 150px;
    height: 240px;
}

/* Player */

.cards-player .card:hover {
    transform: translateY(-20px);
    cursor: pointer;
}

.cards-player .card:hover ~ .card {
    left: 50px;
}

/* Game board */

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 39%;
}

.cards-position {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Play Card */

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.card-position {
    width: 147px;
    height: 220px;
}

.cards-player #rock.selected {
    transform: translate(0px, -140%);
}

.cards-player #paper.selected {
    transform: translate(-110%, -140%);
}

.cards-player #scissors.selected {
    transform: translate(-220%, -140%);
}

.cards-computer #first.selected {
    transform: translate(210%, 140%);
}

.cards-computer #second.selected {
    transform: translate(100%, 140%);
}

.cards-computer #third.selected {
    transform: translate(-10%, 140%);
}

/* Rotate card */

.rotate {
    transition: 0.3s;
    rotate: y 180deg;
}

.rotate2 {
    transition: 0.3s;
    rotate: y 0deg;
}

.point {
    animation: point 1s ease-in-out 1 forwards;
}

@keyframes point {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    50% {
        transform: translate(15%, -600%) scale(0.5);
    }
    100% {
        transform: scale(0);
    }
}

.point2 {
    animation: point2 1s ease-in-out 1 forwards;
}

@keyframes point2 {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    50% {
        transform: translate(1100%, -600%) scale(0.5);
    }
    100% {
        transform: scale(0);
    }
}