

/* Logo */

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.logo img {
    width: 200px;
}

.logo h1 {
    font-size: 4rem;
    font-family: var(--antonio);
}

.logo p {
    font-size: 1rem;
    font-family: var(--montserrat);
}

/* Loading Screen */

.loading-screen {
    position: fixed;
    background-color: var(--bg-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    color: var(--bg-white);
}

/* Hero */

.hero {
    background-image: url(../images/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Clouds */

.hero-clouds {
    position: absolute;
    top: 55vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    filter: invert(.07);
    /* filter: invert(1); */
    z-index: 5;
}

.hero-clouds img {
    position: absolute;
    top: var(--this-top);
    left: var(--this-left);
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}


/* Destinos */

.card {
    position: relative;
    background-color: var(--bg-blue);
    border-radius: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    color: var(--bg-white);
}

.card img {
    width: 25%;
    height: 10%;
    object-fit: cover;
    border-radius: 10px;
}

.card-info-first {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.card-info-first .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}

.card-info-first .number {
    display: flex;
    gap: 1rem;
}

.card-info-first .number p {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.card-info-first .number p span {
    font-weight: bold;
}

.card-info-first button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--highlight);
    color: var(--bg-blue);
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-weight: bold;
    width: 10%;
    height: fit-content;
    cursor: pointer;
}

.destinos {
    display: flex;
    background-color: var(--bg-white);
    padding: 8rem 2rem;
    width: 100vw;
    height: fit-content;
}

.destinos .container {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    font-family: var(--montserrat);
    width: 80%;  
}

.destinos-list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Filter */

.destinos .filter {
    position: sticky;
    top: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 20%;
    height: min-content;
    margin: 8rem 2rem 2rem 2rem;
    padding: 1rem;
    border-radius: 10px;

    background-color: var(--white);
    font-family: var(--montserrat);
}

.filter .search {
    position: relative;
    width: 70%;
}

.filter .search input {
    border: none;
    /* border-radius: 10px; */
    padding: 1rem 1rem .5rem 1rem;
    width: 100%;
    outline: none;
    font-family: var(--montserrat);
    font-size: 1rem;

    border-bottom: 1px solid var(--inactive);
}

.filter .search i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.filter .select {
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.filter .select div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.filter .select div input {
    width: 10%; 
}

.filter .select > div > div {
    display: flex;
    flex-direction: row;
}

.filter .select select {
    width: 100%;
    border: none;
    outline: none;
    font-family: var(--montserrat);
    font-size: 1rem;
    cursor: pointer;
}

.filter .select button {
    background-color: var(--highlight);
    color: var(--bg-blue);
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-weight: bold;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}